@charset "utf-8"; 

* {
    margin: 0;
    padding:         0;
   
}

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0;
    background-image:url(capa45.jpg);
}

header {
   
    color: #f0f0f0;
    text-align: center;
    padding: 0px;
}

header h1 {
    color: #eceaea;
    margin: 2;
}

nav ul {
    color: #eceaea;
    list-style: none;
    padding: 2;
}

nav li {
    color: #eceaea;
    display: inline;
    margin-right: 20cm;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}


.button {
    display: inline-block;
   
    color: #fffefe;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #eceaea;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #000000;
}


article, section {
    margin: 10mm;
    padding: 30pt;
    border: 3px rgb(207, 207, 207) #fffcfc;
}


h1, h2 {
    color: #eceaea;
    font-size: 4em;
}

p {
    color: #fff5f5;
    font-size: 1.2pc;
}


header {
    width: 800px;
    margin: 0 auto;
    padding: 80px;
}

article, section {
    width: 80%;
}

nav ul {
    font-size: 0.5in;
}